.interactive-fretboard {
  background: #666;
  font-family: 'Roboto Condensed', sans-serif;
}

.settings {
  display: flex;
  color: white;
  padding: 20px;
  border-bottom: 1px solid #444;
  background: #282828;
}

.accidental-selector {
  margin-left: 20px;
}

label {
  margin: 10px;
}