.sidebar {
  flex: 3;
  margin: 20px;
  padding-bottom: 30px;
  background-color: #fbfbfb;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  margin-left: auto;
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  cursor: default;
}

.sidebarItem > p {
  cursor: default;
  padding: 30px;
  font-family: 'Lora', serif;
}

.sidebarList {
  list-style: none;
  margin-bottom: 30px;
}

.sidebarListItem {
  font-family: 'Inclusive Sans', sans-serif;
  font-size: 15px;
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sidebarContactIcons {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarIcon {
  font-size: 22px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.sidebarImageLink {
  text-decoration: none;
  color: inherit;
}

.sidebarIcon:hover {
  font-size: 25px;
  color: rgb(174, 188, 188);
}

.sidebarIcon:active {
  font-size: 20px;
}
